*{
    margin: 0px;
    padding: 0;
}
/* shared style (this is a comment) */ 
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  }
.btn {
    color:white;
    background-color: #FD6E0A;
    border: none;
    padding:14px 35px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}



/* ekhane logo er kaaj (Mary lekhata) */
.logo h2 {
    font-size: 45px;
    font-weight: bolder;
    
}
.color-orange {
    color: orange;
}

 /* main style */

  header {
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("images/developer.png"),url(images/header_bg.png);
    background-position:top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
    background-color: #FFF8F3;
  }

  nav {
    width: 71%;
    max-width: 1140;
    margin: 0px auto;
    margin-left: auto; 
    display: flex;
    justify-content: space-between;
  }
nav .menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 45px;
    align-items: center;
    }
nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

#banner {
    border: 1px solid red;
   margin:40px 35px 0px 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;

        }
#banner .banner-content h2 {
    font-size: 20px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 7px;

}
#banner .banner-content h1 {
    font-size: 45px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;

}
#banner .banner-content p {
    font-size: 20px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 20px;

}
#banner .banner-content {
 
     max-width: 585px;
}
    
#banner .banner-img {
    max-width: 585px;
    vertical-align: middle;
}