*{
    margin: 0px;
    padding: 0;
}
/* shared style (this is a comment) */ 
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  }
.btn {
    color:white;
    background-color: #FD6E0A;
    border: none;
    padding:14px 35px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}



/* ekhane logo er kaaj (Mary lekhata) */
.logo h2 {
    font-size: 45px;
    font-weight: bolder;
    
}
.color-orange {
    color: orange;
}

 /* main style */

  header {
    background-color: #FFF8F3;
    padding-top: 50px;
  }

  nav {
    width: 71%;
    max-width: 1140;
    margin: 0px auto;
    margin-left: auto; 
    display: flex;
    justify-content: space-between;
  }
nav .menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 45px;
    align-items: center;
    }
nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}